_site
.sass-cache
.jekyll-metadata

# not the following by fyao
misc.md
downloads/PDF/
downloads/PPT/
downloads/group/Behavioral_Interview_Questions.pdf
downloads/group/Behavioral_Interview_Questions.docx
