
<div class="well">
<h4>News</h4>

{% for article in site.data.news limit:5 %}
{{ article.date }}
<p>{{ article.headline }}</p>
{% endfor %}

<h4><a href="{{ site.url }}{{ site.baseurl }}/allnews.html">... see all News</a></h4>

<script type="text/javascript" id="mapmyvisitors" src="//mapmyvisitors.com/map.js?d=JVFAHT05HguZHEHLo90cqUGxr9LnH9YYLKyq46e8qBg&cl=ffffff&w=a"></script>

<!-- <script type="text/javascript" id="mmvst_globe" src="//mapmyvisitors.com/globe.js?d=sdhpWEdUOGtUPLz2UN7tn_C1_Y4Le8Q4dWsCvPhN20k"></script> -->

</div>
